.card__container {
  width: 230px;
  height: 250px;
  padding: 16px 16px 92px 16px;
  background-color: #9a0218;
  border-radius: 10px;
}

.card__image {
  background-color: #fff;
  border-radius: 10px;
}

.card {
  width: 100%;
  height: 93%;
  filter: brightness(0%);
}
